<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <p>Fresh and Organic</p>
                    <h1>Cart</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb section -->
<!-- cart -->
<div class="cart-section mt-150 mb-150">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="cart-table-wrap">
                    <table class="cart-table">
                        <thead class="cart-table-head">
                            <tr class="table-head-row">
                                <th class="product-remove"></th>
                                <th class="product-image">Product Image</th>
                                <th class="product-name">Name</th>
                                <th class="product-price">Price</th>
                                <th class="product-quantity">Quantity</th>
                                <th class="product-total">Total</th>
                            </tr>
                        </thead>
                        <tbody id="tbody">
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="total-section">
                    <table class="total-table">
                        <thead class="total-table-head">
                            <tr class="table-total-row">
                                <th>Total</th>
                                <th>Price</th>
                            </tr>
                        </thead>
                        <tbody id="tbodyResult">
                        </tbody>
                    </table>
                    <div class="cart-buttons">
                        <a href="cart.html" class="boxed-btn">Update Cart</a>
                        <a href="/cart/checkout" class="boxed-btn black">Check Out</a>
                    </div>
                </div>

                <div class="coupon-section">
                    <h3>Apply Coupon</h3>
                    <div class="coupon-form-wrap">
                        <form action="index.html">
                            <p><input type="text" placeholder="Coupon"></p>
                            <p><input type="submit" value="Apply"></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end cart -->
@section Scripts {
    <script>
        const tbody = document.querySelector("#tbody");
        const tbodyResult =  document.querySelector("#tbodyResult");
        $.ajax({
            url: "/Cart/GetProducts",
            type: "GET",
            success: function(res){
                console.log(res);
                CreateData(res)
            }
        })

        function CreateData(data){
            for(let i = 0; i < data.products.length; i++){
                tbody.innerHTML +=
                `
                    <tr class="table-body-row">
                                <td class="product-remove"><a href="#"><i class="far fa-window-close"></i></a></td>
                                <td class="product-image"><img src="${data.products[i].photoUrl}" alt=""></td>
                                <td class="product-name">${data.products[i].name}</td>
                                <td class="product-price">${data.products[i].price}</td>
                                <td class="product-quantity"><input type="number" value="${data.quantity[i]}" placeholder="0"></td>
                                <td class="product-total">${data.products[i].price * data.quantity[i]}</td>
                     </tr>

                `
            }

            let percent = (Math.round((data.products.reduce((sum, product, i) => sum + (product.price * data.quantity[i]), 0) * 3 / 100) * 100) / 100);

            tbodyResult.innerHTML +=
            `
                <tr class="total-data">
                                <td><strong>Subtotal: </strong></td>
                                <td>${data.products.reduce((sum, product, i) => sum + (product.price * data.quantity[i]), 0)}</td>
                            </tr>
                            <tr class="total-data">
                                <td><strong>Shipping: </strong></td>
                                <td>${percent}</td>
                            </tr>
                            <tr class="total-data">
                                <td><strong>Total: </strong></td>
                                <td>${data.products.reduce((sum, product, i) => sum + (product.price * data.quantity[i]), percent).toFixed(2)}</td>
                            </tr>
            `

        }


    </script>
}