@model Slider

<p>Silmeye eminsen mi yoxsa dayi?</p>
<form method="post">
    <input type="submit"  value="Delete" class="btn btn-dark" />
    <a href="/admin/slider" class="btn btn-info">Cancel</a>
</form>