@model Slider

<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Title"></label>
        <input type="text" asp-for="Title" class="form-control" />

    </div>
    <div class="form-group">
        <label asp-for="SubTitle"></label>
        <input type="text" asp-for="SubTitle" class="form-control" />

    </div>
    <div class="form-group">
        <input type="file" name="file" />
    </div>
    <img src="@Model.PhotoUrl" width="250" class="img-fluid" alt="" />
    <input type="submit" value="Update" class="btn btn-dark" />
</form>